<% include header %>
<header id="header">
	<h3><%= title %></h3>
	<div id="connection-state"></div>
</header>
<ul id="grid">
	<li data-idx="0"></li>
	<li data-idx="1"></li>
	<li data-idx="2"></li>
	<li data-idx="3"></li>
	<li data-idx="4"></li>
	<li data-idx="5"></li>
	<li data-idx="6"></li>
	<li data-idx="7"></li>
	<li data-idx="8"></li>
</ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
<% include footer %>